@font-face {

  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {

  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {

  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #FFFFFF;

}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  color: #000000;

}

.container {
  width: 1160px;
  margin: 0 auto;
}

/*Navigation*/


.navigation-wrapper {
  position: relative;
}

.main-header-logo {
  display: block;
  position: absolute;
  margin-top: -22px;

}

.navigation-container {
  display: flex;
  margin-top: 40px;
  background-color: #FFE17F;
  /* outline: 1px solid rgba(40, 5, 236, 0.993);
  outline-offset: -1px; */


  /* background-color: #FFE17F; */
  /* background-color: #FFE17F; */

}

.navigation {
  display: flex;
  flex-direction: column;
  margin-left: 60px;

  /* outline: 2px solid rgba(255, 5, 5, 0.993);
  outline-offset: -2px; */

}

.navigation-user {
  display: flex;
  flex-direction: column;
  margin-right: 60px;

  /* outline: 2px solid rgba(255, 5, 5, 0.993);
  outline-offset: -2px; */

}

.navigation-list {
  display: flex;
  flex-direction: column;
  width: 520px;
  margin: 0;
  padding: 0;
  align-items: flex-start;
  list-style-type: none;
  /* outline: 2px solid rgba(255, 5, 5, 0.993);
  outline-offset: -2px; */
}



.navigation-list-user {
  display: flex;
  flex-wrap: wrap;
  width: 520px;
  margin: 0;
  padding: 0;
  margin-top: 44px;
  margin-bottom: 30px;

  justify-content: space-between;

  list-style-type: none;
}



.navigation-user-item {
  position: relative;


}


.navigation-user-item-entrance::before {

  position: absolute;
  content: "";
  background-image: url(/images/svg/entrance.svg);
  width: 13px;
  height: 12px;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
}

.navigation-user-item-compare::before {

  position: absolute;
  content: "";
  background-image: url(/images/svg/compare.svg);
  padding-right: 12px;
  width: 10px;
  height: 12px;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;

}

.navigation-user-item-cart::before {
  position: absolute;
  content: "";
  background-image: url(/images/svg/cart.svg);
  padding-right: 12px;
  width: 16px;
  height: 14px;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
}


.navigation-list-advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;


  list-style-type: none;
}


.navigation-link {
  display: block;
  padding: 15px 30px 36px 30px;
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #000000;
  background-color: #FFE17F;
  text-decoration: none;
  text-transform: uppercase;


  /* outline: 2px solid rgba(255, 5, 5, 0.993);
  outline-offset: -2px; */
}

.navigation-link:last-child {
  padding-right: 0;
}

.navigation-item-dropdown-link {
  padding-left: 0;
  padding-right: 60px;
}

.navigation-item-link {
  display: block;
  padding: 10px 10px 10px 30px;
  text-align: center;
  color: #000000;
  background-color: #FFE17F;
  text-decoration: none;

  /* outline: 2px solid rgba(255, 5, 5, 0.993);
  outline-offset: -2px; */
}

.navigation-item-link:last-child {
  padding-right: 0;
}

.search {
  width: 517px;
  height: 40px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  margin-top: 44px;
  margin-bottom: 30px;


}

.button-search {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}




.navigation-dropdown {
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.navigation-link-dropdown {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  background-color: #FFE17F;
  text-decoration: none;


}

.main-container {
  flex-grow: 1;
}



.button {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: #000000;
  letter-spacing: 0.2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

}

/* Slider */

.slider-list {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 108px;

  list-style-type: none;


}

/*
.slider-list::before {

  position: absolute;
  content: "01";
  font-style: "Rubik";
  font-size: 180px;
  line-height: 30px;
  font-weight: 700;
  text-align: right;
  padding-top: 180px;

  width: 1160px;
  height: 120px;
  color: #FFFFFF;
  background-color: #FFE17F;
  z-index: -1;
  transform: translateY(-50%);

} */



.slider-item {
  margin-left: 40px;
  margin-top: 106px;

  /* outline: 2px solid rgba(255, 5, 5, 0.993);
  outline-offset: -2px; */
}

.slider-slogan {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 30px;
}

.slider-desc {
  color: #444444;
  margin: 0;
  margin-bottom: 50px;
}

.slider-benefits {
  display: grid;
  grid-template-columns: max-content;
  column-gap: 20px;
  margin: 0;

  /* outline: 2px solid rgba(255, 5, 5, 0.993);
  outline-offset: -2px; */
}

.slider-more {
  width: 220px;
  height: 40px;
  margin-bottom: 50px;
}

.slider-benefits dt {
  grid-row: 2;

  color: #444444;
  font-size: 16px;
}

.slider-benefits dd {
  grid-row: 1;
  font-size: 36px;
  margin: 0;
}

.slider-item-image {
  position: relative;
  /* outline: 2px solid rgba(255, 5, 5, 0.993);
  outline-offset: -2px; */
}

.slider-image {
  display: block;

}

.slider-controls {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;

  width: 100%;
  transform: translateY(-50%);
}

.slider-button {
  width: 20px;
  height: 60px;
  border: none;
  cursor: pointer;
  background-image: url("../images/svg/arrow-left.svg");
  color: #000000;
  background-color: #FFFFFF;
  background-position: center;
  background-repeat: no-repeat;
}

.slider-next {
  transform: rotate(180deg);
}


/*Product-list*/


.product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 193px;
  margin-bottom: 70px;
  list-style-type: none;

}

.product-item {

  width: 160px;

  /* outline: 2px solid rgba(255, 5, 5, 0.993);
  outline-offset: -2px; */
}

.product-item-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
  background-repeat: no-repeat;
}



/*Advantages*/



.advantages-list {
  margin: 0;
  padding: 0;
  margin-bottom: 142px;
  list-style-type: none;


}



.advantages-item {
  display: flex;


  /* outline: 2px solid rgba(255, 5, 5, 0.993);
  outline-offset: -2px; */
}

.advantages-item-button {
  display: flex;
  flex-direction: column;
  min-width: 287px;
  margin-top: 64px;
  margin-bottom: 64px;
  justify-content: space-between;

  /* outline: 2px solid rgba(145, 14, 221, 0.993);
  outline-offset: -2px; */

}

.advantages-item-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 448px;
  margin-left: 116px;


  /* outline: 2px solid rgba(6, 63, 18, 0.993);
  outline-offset: -2px; */
}

.advantages-item-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 34px;
}


.advantages-item p {
  margin: 0;
  color: #444444;
}

.advantages-item-delivery::after {
  position: absolute;
  content: "";
  width: 136px;
  height: 164px;


  background-image: url(/images/svg/delivery.svg);
  background-repeat: no-repeat;

}

/* .advantages-item-guarantee {

  background-image: url(/images/svg/guarantee.svg);
  background-repeat: no-repeat;

}

.advantages-item-credit {

  background-image: url(/images/svg/credit.svg);
  background-repeat: no-repeat;

} */


.delivery-form-button {
  margin-bottom: 70px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #F0F0F0;
  width: 1160px;
  height: 100px;

}


.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  /* outline: 2px solid rgba(255, 5, 5, 0.993);
  outline-offset: -2px; */
}

/*Description*/

.description {
  width: 520px;
}

.description-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin: 48px 0;

}

.description p {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  color: #444444;
}

.description-list {
  margin: 0;
  margin-bottom: 30px;
}


.description-item {
  line-height: 20px;
  font-weight: 700;

}


/*Contacts*/

.contacts {
  width: 532px;
  margin-left: 132px;
}

.contacts-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin: 48px 0;

}

.contacts-desc {
  color: #444444;
}

.contacts-desc p {
  margin: 0;
  margin-bottom: 30px;
}

.contacts-subtitle {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
}

.contacts-address {
  margin-bottom: 30px;
  font-style: normal;
}

.contacts-address p {
  margin: 0;
}

.contacts-phone {
  color: #444444;
  text-decoration-line: underline;
}

.contacts-schedule {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style-type: none;
}

/*Subscribe*/

.subscribe {
  display: flex;
  flex-direction: column;

  background-color: #F0F0F0;
}

.subscribe-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-top: 64px;
  width: 560px;



}

.subscribe-container p {
  margin: 0;
  margin-top: 74px;
  margin-left: auto;
  width: 560px;


  color: #444444;
}

.subscribe-container {
  display: flex;
  margin-bottom: 144px;
}

.subscribe-form-container {
  display: flex;
  margin-bottom: 56px;

}

.subscribe-form-container p {
  margin: 0;
  margin-left: auto;
}

.subscribe-form {
  width: 810px;
}

/*Footer*/

.footer-page {
  background-color: #444444;
  color: #FFFFFF;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;

}

.footer-address-logo {
  margin-bottom: 36px;
}





.footer-navigation {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;

  width: 444px;
  margin-top: 140px;

  /* outline: 2px solid rgba(255, 5, 5, 0.993);
  outline-offset: -2px; */
}

.footer-address {

  display: flex;
  flex-direction: column;

  margin-top: 60px;
  width: 234px;
  /* outline: 2px solid rgba(255, 5, 5, 0.993);
  outline-offset: -2px; */
}


.footer-address-contacts {

  font-style: normal;
  text-align: left;
}

.footer-advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  margin-bottom: 62px;
  list-style-type: none;
}

.footer-advantages-link {

  font-family: "Raleway", sans-serif;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #FFFFFF;
  background-color: #444444;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-social {
  max-width: 150px;
  margin-left: 148px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  margin-bottom: 62px;
  list-style-type: none;
}

.footer-social-item {

  width: 40px;
  height: 40px;
  margin-right: 15px;
  margin-bottom: 15px;
  outline: 2px solid rgba(255, 5, 5, 0.993);
  outline-offset: -2px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}


.footer-contacts {
  display: flex;
  flex-direction: column;
  margin-top: 140px;
  width: 234px;
  /* outline: 2px solid rgba(255, 5, 5, 0.993);
  outline-offset: -2px; */
}


.footer-contacts-tel {
  margin: 0;
  text-align: right;
  margin-bottom: 62px;

}

.footer-phone {
  width: 176px;
  color: #FFFFFF;
  text-decoration-line: underline;

}

.htmlacademy-link {
  margin-left: auto;
}


/*Catalog*/


.main-inner {
  padding-top: 36px;
}

.inner-header-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 16px;

}

/* Link */

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 36px;
  list-style-type: none;
}

.breadcrumbs-link {
  margin-right: 36px;
  color: inherit;

}

/*Catalog-products*/

.catalog-products {

  background-color: #F0F0F0;
}

.catalog-products-wrapper {
  display: flex;
}

.catalog-filter {
  width: 320px;
}

.catalog-right-column {
  width: 840px;
  background-color: #FFFFFF;

}

.catalog-option-item {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

}


.catalog-filter-title {

  line-height: 20px;
  font-weight: 700;

}

.control {

  font-size: 16px;
  line-height: 19px;
}


/*Product-list*/

.catalog-option-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding: 26px 40px;
  background-color: #F0F0F0;
  /* outline: 2px solid rgba(255, 5, 5, 0.993);
  outline-offset: -2px; */

}

.product-items {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 70px 40px 44px;
  list-style-type: none;
  background-color: #FFFFFF;
}

.product-card {
  margin-right: 38px;
}

.product-card:nth-child(2n) {
  margin-right: 0;
}

.product-card-link {

  text-decoration: none;
}

.product-card-title {
  margin: 0;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}


.product-card-price {

  line-height: 21px;
  color: #444444;
}

.button-load-more {
  width: 760px;
  height: 55px;
  margin: 0 40px 44px;
  background-color: #FFFFFF;
}

/*Pagination*/



.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0 40px 78px;
  padding: 0;
  list-style-type: none;
  background-color: #EBEBEB;
}



.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  margin-top: 16px;
  padding: 10px 15px;
  color: #444444;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.3;

}

.pagination-current {
  opacity: 0.6;
}

.pagination-link-control {
  display: block;
  box-sizing: border-box;
  width: 140px;
  height: 70px;
  padding: 25px;

  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
