@font-face {

  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {

  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {

  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #FFFFFF;

}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.page-header {
  color: #000000;

}

.container {
  width: 1160px;
  margin: 0 auto;
}

/*Navigation*/

.navigation-container {
  display: flex;
  flex-direction: column;
  background-color: #FFE17F;



}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 2px solid rgba(255, 5, 5, 0.993);
  outline-offset: -2px;
}



.navigation-user-link {
  text-align: center;
  color: #000000;
  background-color: #FFE17F;
  text-decoration: none;

}

.search {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
}

.button-search {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}


.navigation-link {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #000000;
  background-color: #FFE17F;
  text-decoration: none;
  text-transform: uppercase;

}

.navigation-link-dropdown {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  background-color: #FFE17F;
  text-decoration: none;
  list-style: none;

}

.main-container {
  flex-grow: 1;
}


.title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;

}

.button {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: #000000;
  letter-spacing: 0.2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

}

/* Slider */

.slider-list {
  display: flex;

  outline: 2px solid rgba(255, 5, 5, 0.993);
  outline-offset: -2px;
}
}

.slider-image {
  display: block;
}



.slider-desc {
  color: #444444;
}

.slider-benefits dt {
  color: #444444;
  font-size: 16px;
}

.slider-benefits dd {
  font-size: 36px;
}

/*Product-list*/



.product-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;

}

.product-item {
  width: 160px;

  outline: 2px solid rgba(255, 5, 5, 0.993);
  outline-offset: -2px;
}

.product-item-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;

}



/*Advantages*/

.advantages {

  background-color: #F0F0F0;

}


.advantages-item p {
  color: #444444;
}

.advantages-item-delivery {

  background-image: url(/images/svg/delivery.svg);
  background-repeat: no-repeat;

}

.advantages-item-guarantee {

  background-image: url(/images/svg/guarantee.svg);
  background-repeat: no-repeat;

}

.advantages-item-credit {

  background-image: url(/images/svg/credit.svg);
  background-repeat: no-repeat;

}

.delivery-form-button {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #F0F0F0;
  width: 1160px;
  height: 100px;
  background-image: url(/images/svg/form.svg), url(/images/svg/car.svg);
  background-repeat: no-repeat;
}


.index-columns {
  display: flex;
  justify-content: space-between;
  outline: 2px solid rgba(255, 5, 5, 0.993);
  outline-offset: -2px;
}

/*Description*/

.description {
  width: 520px;
}

.description p {
  color: #444444;
}

.description-item {
  line-height: 20px;
  font-weight: 700;

}


/*Contacts*/

.contacts {
  width: 532px;
}

.contacts-desc {
  color: #444444;
}


.contacts-subtitle {
  font-size: 24px;
  font-weight: 700;
}

.contacts-address {

  font-style: normal;
}

.contacts-phone {
  color: #444444;
  text-decoration-line: underline;
}


/*Subscribe*/

.subscribe {

  background-color: #F0F0F0;
}


.subscribe p {
  color: #444444;
}

/*Footer*/

.footer-page {
  background-color: #444444;
  color: #FFFFFF;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;


}

.footer-contacts {
  width: 300px;

  outline: 2px solid rgba(255, 5, 5, 0.993);
  outline-offset: -2px;
}


.footer-contacts-address {

  font-style: normal;
  text-align: left;



}

.footer-navigation {
  display: flex;
  flex-direction: column;
  width: 500px;

  outline: 2px solid rgba(255, 5, 5, 0.993);
  outline-offset: -2px;
}

.footer-advantages-list {
  display: flex;
}

.footer-advantages-link {

  font-family: "Raleway", sans-serif;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #FFFFFF;
  background-color: #444444;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-social-list {
  display: flex;
}

.footer-contacts-tel {
  text-align: right;
}

.footer-phone {

  color: #FFFFFF;
  text-decoration-line: underline;

}


/*Catalog*/

/* Link */
.breadcrumbs-link {
  color: inherit;
}

/*Catalog-products*/

.catalog-products {

  background-color: #F0F0F0;
}

.catalog-products-wrapper {
  display: flex;
}

.catalog-filter {
  width: 320px;
}

.catalog-right-column {
  width: 840px;

}

.catalog-option-item {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

}


.catalog-filter-title {

  line-height: 20px;
  font-weight: 700;

}

.control {

  font-size: 16px;
  line-height: 19px;
}


/*Product-list*/

.product-items {

  background-color: #FFFFFF;
}


.product-card-link {

  text-decoration: none;
}

.product-card-title {

  line-height: 20px;
  font-weight: 700;
  color: #000000;
}


.product-card-price {

  line-height: 21px;
  color: #444444;
}

.button-load-more {
  background-color: #FFFFFF;
}

/*Pagination*/

.pagination {

  background-color: #EBEBEB;
}


.pagination-link {
  color: #444444;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.3;

}

.pagination-current {
  opacity: 0.6;
}

.pagination-link-control {

  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
